@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
      --color1: #83afae;
      --color2: #cde6de;
      --color3: #131313;
      --color4: #717b7a;
      --color5: #f8f8f8;
    }
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Puedes eliminar esto si quieres el peso por defecto */
  font-style: normal; /* Puedes eliminar esto */
  font-variation-settings:
    "wdth" 100;
}
.title{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
.bg-1{
  background-color: var(--color1);
}
.border-1{
  border-color: var(--color1);
}
.bg-4{
  background-color: var(--color4);
}
.bg-3{
  background-color: var(--color3);
}
.circle{
  background: linear-gradient(135deg, #3d3696, #8857f3, #E0E6F0);
  /* background: linear-gradient(135deg, #fd9992, #fda775, #fdd975); */
}

.spinner {
 --size: 50px;
 --first-block-clr: #8857f3;
 --second-block-clr: #3d3696;
 --clr: #111;
 width: 100px;
 height: 100px;
 position: relative;
}

.spinner::after,.spinner::before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 width: var(--size);
 height: var(--size);
 top: 50%;
 animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
 left: 50%;
 background: var(--first-block-clr);
}

.spinner::after {
 background: var(--second-block-clr);
 top: calc(50% - var(--size));
 left: calc(50% - var(--size));
 animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}
.create-product input:focus{
  border-color: #83afae;
}

.tooltip-container {
    position: relative;
    display: inline-block; /* Asegura que el contenedor solo ocupe el espacio del texto */
    cursor: help; /* Cambia el cursor para indicar interacción */
}

.tooltip-text {
    /* Oculto por defecto */
    visibility: hidden;
    opacity: 0;
    
    position: absolute;
    bottom: 12%; /* Coloca la ventanita encima del texto */
    transform: translateX(-50%);
    left: -80%;
    z-index: 10;
    
    /* Estilos y transiciones (para que aparezca suavemente) */
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap; /* Evita que el texto del tooltip se rompa en varias líneas */
  }
  .tooltip-alert{
    bottom: 20%; /* Coloca la ventanita encima del texto */
    left: -70%;
  
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


@keyframes down {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(100%);
 }

 50% {
  transform: translateX(100%) translateY(100%);
 }

 75% {
  transform: translateY(100%);
 }
}

@keyframes up {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(-100%);
 }

 50% {
  transform: translateX(-100%) translateY(-100%);
 }

 75% {
  transform: translateY(-100%);
 }
}